@model IEnumerable<G07_Taijitan.Models.Domain.OefeningType>
@{
    ViewData["Title"] = "Oefening types";
}
<link href="~/css/website.css" rel="stylesheet" />
<h2>Oefening Types</h2>
@foreach (var item in Model)
{
    @*<ul class="list-group">
        <a asp-controller="Graad" asp-action="Oefeningen" asp-route="@item.TypeId"> <li><strong>@item.TypeNaam</strong></li></a>
    </ul>*@
<a asp-controller="Graad" asp-action="Oefening" asp-route-graadid="@ViewData["Graad"]" asp-route-typeid="@((int)item)">@item</a>
}

