@model IEnumerable<G07_Taijitan.Models.Domain.LesMateriaal.Video>
@{
    ViewData["Title"] = "Video materiaal";
}
<link href="~/css/website.css" rel="stylesheet" type="text/css">
<body>

    <h2>@ViewData["Title"]</h2>
    <div>
        <div class="col-sm-4 col-md-4">
            <p class="btn btn-primary, text-center, test">@ViewData["Title"]</p>
        </div>
        <div class="col-sm-4 col-md-4">
            <a class="btn btn-default, text-center, test" asp-controller="Graad" asp-action="Afbeeldingen" asp-route-oefeningid="@Model.FirstOrDefault().OefeningId">Afbeeldingen</a>
        </div>
        <div class="col-sm-4 col-md-4">
            <a class="btn btn-default, text-center, test" asp-controller="Graad" asp-action="Tekstbestanden" asp-route-oefeningid="@Model.FirstOrDefault().OefeningId">Tekstmateriaal</a>
        </div>
    </div>
    @foreach (var video in Model)
    {
    <div class="col-md-12 resp-container">
        <iframe class="resp-iframe"
                src="@video.Url"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>

        </iframe>
    </div>
    }
</body>
